
    #scrollview-home .photo {
          display: inline-block;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
      }
    
      .photo1 {
          background-image: url("https://images.unsplash.com/photo-1551430957-10dbe76ddb34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=80");
      }
    
      .photo2 {
          background-image: url("https://images.unsplash.com/photo-1550785116-fe550d4904cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=850&q=80");
      }
    
      .photo3 {
          background-image: url("https://images.unsplash.com/photo-1550780291-44fe6096919e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=841&q=80");
      }
    
      .photo4 {
          background-image: url("https://images.unsplash.com/photo-1550778061-523e38d33df0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=850&q=80");
      }
    
      .photo5 {
          background-image: url("https://images.unsplash.com/photo-1551200536-84057e779fac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
      }
